<div class="container career-wrapper" id="job-openings">
  <div class="row">
    <div class="right-content col-xl-6 col-12 col-md-12 col-lg-12 g-0">
      <h2>
        {{ data.contentTitle }}
      </h2>
      <p>
        {{ data.contentSubTitle }}
        
      </p>
    </div>
    <div class="career-job-list col-xl-6 col-12 col-md-12 col-lg-12 g-0">
      {% for job in data.jobsList %}
        {% if not job.deleted and ((data.jobType == 'full_time' and job.type != 'intern') or (data.jobType == 'intern' and job.type == 'intern')) %}
          <div class="career-job-item">
            <p class="career-job-title">
              {{ job.title }}
            </p>
            <a class="career-job-view-detail" href="{{ job.applicant_apply_link }}" target="_blank">
              <span>
                View details
              </span>
              <i style="color: #f15926;" class="fa fa-angle-right ml-3"></i>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
